[Unit]
Description=Domotics
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/Domotique2/service.py
Restart=always

[Install]
WantedBy=multi-user.target
